@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22c55e1c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15833e;
}
